<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">

		  <p>&copy 2023 The Risk Audit Project.</p>
              <p>We are part of the <a href="https://www.arct.cam.ac.uk/research/the-martin-centre/risk">Cambridge University Centre for Risk in the Built Environment</a> and <a href="https://ai4er-cdt.esc.cam.ac.uk/">AI for Environmental Risks</a>.</p>


		   <p>  </p><p>


		</div>
		<div class="col-sm-4">
		  Funding:<br />
		  - Cambridge International Bursary <br />
     	  - UKRI EPSRC CDT <a href="https://gtr.ukri.org/projects?ref=EP%2FS022961%2F1">Grant No. EP/S022961/1</a><br />
		</div>
		<div class="col-sm-4">
		  Contact:<br />
		  Department of Architecture<br />
		  1-5 Scroope Terrace<br />
		  Cambridge, CB2 1PX<br />
            (<a href="https://map.cam.ac.uk/Faculty+of+Architecture+and+History+of+Art#52.198243,0.122026,18">Maps</a>, 
			<a href="mailto:jtd33@cam.ac.uk">Email</a>)
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
