<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
		  <p>&copy 2023 The Cambridge Risk Audit Project.</p>
              <p>We are part of the <a href="https://www.arct.cam.ac.uk/research/the-martin-centre/risk">Cambridge University Centre for Risk in the Built Environment</a> and <a href="https://ai4er-cdt.esc.cam.ac.uk/">AI for Environmental Risks</a>.</p>
		   <p>  </p><p>
		</div>
		<div class="col-sm-4">
			<p>Funding:<br />
			- Cambridge International Bursary <br />
			- UKRI EPSRC CDT <a href="https://gtr.ukri.org/projects?ref=EP%2FS022961%2F1">Grant No. EP/S022961/1</a><br /></p>
		</div>
		<div class="col-sm-4">
			<p>Contact:<br />
			CDT AI for Environmental Risks<br />
			Madingley Road<br />
			Cambridge, CB3 0EZ<br />
            (<a href="https://www.google.com/maps/d/u/0/viewer?ie=UTF8&hl=en&msa=0&ll=52.21439100000002%2C0.10977700000001533&spn=0.035971%2C0.077248&z=14&mid=1V1gdaXnf5ch505XS_SBxDd5BrP4">Maps</a>, 
			<a href="mailto:jtd33@cam.ac.uk">Email</a>)</p>
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
